<% dash = octicon "dash" 
   plus = octicon "plus" %>
   
<div class="modal-body">
<%= form_for [@storage_area, @storage_location], remote: true do |f| %>
    <div id="editSLerrors"><%= %></div>
    <p>
        <strong>Name</strong>
        <%= f.text_field(:Name, {:class => 'form-control-lg'}) %>
    </p>
    <p>    
        <strong>Current Quantity</strong>
        <div class="row">
        <div class="input-group two col-12 col-sm-12 col-md-12 col-lg-12">
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to dash, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyminus", field: "curQ", remote: true %>
            </span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding"><%= f.number_field(:Cur_Quantity, in: 0..5000, placeholder: 0, id: "curQ", :class => 'form-control-lg') %></span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to plus, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyplus", field: "curQ", remote: true %>
            </span>
        </div>
        </div>
    </p>   
    <p>          
        <strong>Maximum Quantity</strong>
        <div class="row">
        <div class="input-group two col-12 col-sm-12 col-md-12 col-lg-12">
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to dash, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyminus", field: "maxQ", remote: true %>
            </span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding"><%= f.number_field(:Max_Quantity, in: 0..5000, placeholder: 0, id: "maxQ", :class => 'form-control-lg') %></span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to plus, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyplus", field: "maxQ", remote: true %>
            </span>
        </div>
        </div>
    </p>
    <p>
        <strong>Default Quantity</strong>
        <div class="row">
        <div class="input-group two col-12 col-sm-12 col-md-12 col-lg-12">
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to dash, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyminus", field: "defQ", remote: true %>
            </span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding"><%= f.number_field(:Def_Quantity, in: 0..5000, placeholder: 0, id: "defQ", :class => 'form-control-lg') %></span>
            <span class="input-group-btn two col-4 col-sm-4 col-md-4 col-lg-4 nopadding">
              <%= link_to plus, storage_area_path(@storage_area), :class => "btn btn-lg btn-secondary qtyplus", field: "defQ", remote: true %>
            </span>
        </div>
        </div>
    </p>
    <p>
        <strong>Storage Area</strong><br/>
        <%= f.select( :storage_area_id, options_for_select(StorageArea.all.collect{|storage_area| [storage_area.Name, storage_area.id]}, [@storage_area.Name, @storage_area.id]), {},{:class => "form-control-lg"}) %>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-light" data-dismiss="modal">Close</button>
    <%= f.submit({:class => 'btn btn-lg btn-primary'}) %>
<% end %>
</div>