<div class="container container-white">
    <h1>Edit Storage Area</h1>
    <%= form_for :storage_area, url: storage_area_path(@storage_area), method: :patch do |f| %>
        <% if @storage_area.errors.any? %>
            <% @storage_area.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger"><%= msg %></div>
            <% end %>  
        <% end %>
        <p>
            <%= f.label :Name %><br>
            <%= f.text_field(:Name, {:class => 'form-control'}) %>
        </p>
        <p>
            <%= f.submit({:class => 'btn btn-primary'}) %>
        </p>
    <% end %>
</div>